:root {
  font-size: 16px;
}

.nav__ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.hero {
  background-image: url(./images/menstrual-hero_desktop.jpg);
  background-size: cover;
  height: 26rem;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
}

.hero__div {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
}

h3.hero__div__elem {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
}

.last {
  margin-top: auto;
}

.orange_button {
  color: white;
  background-color: rgb(255, 103, 82);
  text-align: center;
  width: 8rem;
  padding: 2vh 2vw;
  cursor: pointer;
}

.promo {
  padding: 2rem 3rem 1rem 3rem;
}

.promo__div__first {
  background-image: url(./images/bamboo_desktop.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  margin: 1rem;
}

.promo__div__first__elem {
  text-align: center;
  color: white;
}

h2.promo__div__first__elem {
  max-width: 17rem;
  line-height: 2rem;
}

p.promo__div__first__elem {
  max-width: 28rem;
  line-height: 1.5rem;
}

.promo__div__second {
  display: flex;
}

.promo__div__second__div {
  flex: 1;
  margin: 1rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.promo__div__second__elem {
  width: 10rem;
  line-height: 2rem;
}

p.promo__div__second__elem {
  width: 16rem;
  line-height: 1.5rem;
}

.pad_detail {
  background-image: url(./images/pad_detail_desktop.jpg);
  background-size: cover;
}

.pad_in_hand {
  background-image: url(./images/pad_in_hand_desktop.jpg);
  background-size: cover;
}

.collection {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.collection__title {
  display: none;
}

.collection__article {
  margin: 1rem;
}

.collection__article__div__p {
  margin-bottom: 0;
}

.collection__article__div__h3 {
  margin: 0;
}


.collection__article__img {
  max-width: 20vw;
}

.sell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.conclusion {
  background-image: url(./images/new-to-public-goods_desktop.jpg);
  background-size: cover;
  height: 26rem;
  padding: 5vh 5vw;
}

.conclusion__elem {
  max-width: 30rem;
  line-height: 1.5rem;
}

p.conclusion__aside__elem {
  color: grey;
}

div.conclusion__aside__elem {
  background-image: url(./images/press-quotes.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10rem;
}


@media only screen and (max-width: 600px) {
  .hero {
    background-image: url(./images/menstrual-hero_mobile.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .hero__div {
    max-width: 80%;
    align-items: center;
  }

  .hero__div__elem {
    text-align: center;
  }

  .promo {
    padding: 1rem 1rem;
  }

  .promo__div__first {
    background-image: url(./images/bamboo_mobile.jpg);
    padding: 5vh 10vh;
  }

  .pad_detail {
    background-image: url(./images/pad_detail_mobile.jpg);
    background-size: cover;
  }

  .pad_in_hand {
    background-image: url(./images/pad_in_hand_mobile.jpg);
    background-size: cover;
  }

  .promo__div__second__div.pad_detail {
    min-height: 40vh;
  }

  .promo__div__second {
    flex-direction: column;
  }

  .promo__div__second__div.pad_in_hand {
    justify-content: initial;
    align-items: center;
    padding: 1rem;
    min-height: 70vh;
  }

  .promo__div__second__div.pad_in_hand p, h2{
    margin: 1rem 0 0 0;
    text-align: center;
  }

  .collection {
    flex-direction: column;
    padding: 0 1rem;
  }

  .collection__title {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
  }

  .collection__title h2 {
    margin: 1rem;
  }

  .collection__article__img {
    max-width: 100%;
  }

  .conclusion {
    background-image: url(./images/new-to-public-goods_mobile.jpg);
    min-height: 110vh;
  }

  .conclusion__elem {
    text-align: center;
    padding: 0 1rem;
  }

  .sell {
    margin: 0;
  }

  h2.conclusion__elem {
    font-size: 2rem;
  }

  p.conclusion__elem {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .conclusion__aside  {
    display: none;
  }

  .orange_button.shop {
    display: none;
  }
}